/*
 * Sample SCSS for Slider.js
 */

#banner-exo {
    position: relative;
    width: 100%;

    @media screen and (max-width: 350px) {
        height: 155px;
    }
    @media screen and (min-width: 720px) {
        height: 345px;
    }
    @media screen and (min-width: 1200px) {
        height: 670px;
    }
}


#banner-slides-wrap {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}


#banner-slides-slider {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 0;

    transition: -webkit-transform 0.6s ease;
    transition: -moz-transform 0.6s ease;
    transition: -ms-transform 0.6s ease;
    transition: -o-transform 0.6s ease;
    transition: transform 0.6s ease;

    /* If Swiper.js is also in use, then it will set the
     * `draggable` attribute to the parent element, and
     * incremental sliding looks horrible when transitions
     * are set. */
    #banner-slides-wrap[draggable] & {
        transition: none;
    }
}


.banner-slide {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center center;
}


.banner-slide-img {
    display: block;
    width: 100%;

	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}



#banner-controls-wrap {
    position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);

    width: 100%;

    @media screen and (max-width: 350px) {
        display: none;
    }
}


.banner-slides-control-btn {
    display: inline-block;

    position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);

    margin: 0;
    padding: 6px 30px;
    font-size: font_size(4);
    background-color: rgba(255, 255, 255, 0.6);
    color: $color_grey_arrows;
    cursor: pointer;
}


#banner-slides-control-bk {
    left: 0;

    & .fa-angle-left {
        position: relative;
        left: -2px;
    }
}


#banner-slides-control-fw {
    right: 0;

    & .fa-angle-right {
        position: relative;
        right: -2px;
    }
}



#banner-slides-pager {
    display: inline-block;
    postion: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20px;
    text-align: center;
}


.banner-pager-dot {
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: #FFFFFF;
    cursor: pointer;
}


.banner-pager-dot[active=y] {
    background-color: #FF00FF;
}
